li{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #F9F5EF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }


