.p1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #F9F5EF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    @media screen and (max-width: 992px){
        .p1{
            font-size: 0px;
        }
    }
    .p2{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #F9F5EF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }


    .pass{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        
        }