.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }