<div class="footer">
    <div class="Top-part">


        <div class="leftside">
            <img src="assets\whiteStJohn.png"/>
        <h4>Address:</h4>
        <p class="p1">Palladium House 1-4 Argyll Street, London, W1F 7LD</p>

        <p class="p2">
        Contact:<br>
        07470 677 390<br>
        info@stjohnlettings.co.uk
        </p>

        <div class="icon">
        <img src="assets\whatsapp.png"/>
        <img src="assets\Instagram.png"/>
        <img src="assets\Facebook.png"/>
        </div>
        


        </div>
        


    <div class="rightside">
        <div class="item1">
            <li>Home</li>
            <li>About Us</li>
            <li>To Let</li>
            <li>Reviews</li>
        </div>
        <div class="item2">
            <li>Favourites</li>
            <li>Contact Us</li>
            <li>Submit an Enquiry</li>
            <li>News</li>
        </div>
    </div>
    
    </div>
    
        
    
        <svg width="100%">
            <line x1="0" y1="0"  x2="1200" y="1200"
            stroke=#C1995B stroke-width="3px"  pathLength="100"/>
        </svg>

    <div class="BottomPart">
        <div class="row">
            <p class="pass">2022 St John Lettings. All right reserved</p>
            <li class="footerlink1"><a href="">Privacy Policy</a></li>
            <li class="footerlink2"><a href="">Terms of Service</a></li>
        </div>
    </div>
    

    
</div>
