@import "top";
@import "leftside";
@import "headi";
@import "paraa";
@import "rightside";
@import "item";
@import "list";
@import "icon";
@import "bottomPart";
@import "row";
@import "footerLinks";




.footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 64px;
gap: 80px;
background: #00455A;
flex: none;
order: 9;
flex-grow: 0;
}
li{
    list-style: none;
}

svg{
    padding: 0%;
    margin: 0%;
}
