<div class="carousel">
    <h2>View Our Partners</h2>
    <div class="img2">
        <img  class="leftarrow" src="assets\leftarrow.png"/>
        <img  class="Netflix" src="assets\Netflix.png"/>
        <img class="Samsung" src="assets\Samsung.png"/>
        <img class="Champion" src="assets\Champion.png"/>
        <img class="Rentalcars" src="assets\Rentalcars.png"/>
        <img class="Booking" src="assets\Booking.png"/>
        <img class="rightArrow" src="assets\rightArrow.png"/>  
    </div>
    
</div>