<div class="cta1">



    <div class="col1">
    <h2>FAQs</h2>
    <p>We have seven locations across London.
    Make anenquiry today<br> with apartments immediately available to move into.</p>
    </div>




    <div  class="col2">
    <h3>What are properties?</h3>
    <img  class="image" src="assets\blueplus.png"/>
    </div>
    


    <div  class="col3">
    <h3>What are portfolios?</h3>
    <p>These are portfolios and you can find otu important information about them. 
        Read this and enjoy. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il.
        Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. 
        Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il.
        Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. </p>
    <img class="img1" src="assets\whiteplus.png"/>
    </div>



    <div class="col4">
        <h3>What are the partners?</h3>
        <img class="img2" src="assets\blueplus.png"/>
    </div>
    


    <div class="col5">
            <h3>What is everything else?</h3>
            <img  class="img3" src="assets\blueplus.png"/>
        
    </div>
    


</div>
