.Nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
    }


    .label{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #00455A;
        flex: none;
        order: 0;
        flex-grow: 0;
        }


        @media screen and (max-width: 992px){
            .Nav-item, .label{
                width: 0px;
                height: 0px;
                padding: 0px;
                font-size: 0px;
            }
        }