.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    position: absolute;
    right: 31px;
    top: 24px;
    
    }