<div>
        <div class="top-nav">
                <div class="left">
                <img class="logo" src="assets\St John Lettings.png"/>
                <img  class="find" src="assets\find.png"/>
                <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                </div>
                <span class="Nav-item">
                        <span class="label">To Let</span>
                        <span class="label">About Us</span>
                        <span class="label">Favourites</span>
                        <span class="label">News</span>
                </span>
                </div>
                
                <div class="right">
                        <button class="btn">Enquire</button>
                        <button class="btn1">Contact us</button>
                </div>

                


                
        </div>
        

        

        
</div>

