<div  class="header82">
    <div class="info">
    <h1 class="headings">St John Residential <br>Lettings</h1>
    <p>We offer high ends apartments in premium developments such as Westminster<br> Quarter,
        Paddington Gardens, Goodman's Field, Royal Wharf, London Docks<br>and Smithfield Square.
    </p>
    <div class="btn">
    <button class="btn1">View properties</button>
    <button class="btn2">Enquire</button>
    </div>
    
    <p class="partnership">In partnership with: </p>
    <div class="logo">
    <img class="RM" src="\assets\logoRightMove.png"/>
    <img  class="zoop" src="\assets\zooplalogo.png"/>
    </div>
    
    </div>
    
</div>
