.searchbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-left: 77px;
    margin-right: 77px;
    }


    @media screen and (max-width: 992px){
    .searchbar{
        width: 0px;
        height: 0px;
    }
    }