.imagee{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    border: 1px solid #00455A;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
